@import "../../Base/Global.scss";
@import "../../Base/Colour.scss";


/* Common xs1, xs2 */
@media all and (max-width: #{($mq-sm1 - 1) + "px"}) {}

/* Common sm1, sm2 tablet */
@media all and (min-width: #{($mq-sm1) + "px"}) and (max-width: #{($mq-md - 1) + "px"}) {}

@media all and (min-width: #{$mq-md + "px"}) {
    .section-02 {
        padding-top: 80px;

        .c-wrapper {
            display: flex;
            padding: 0 80px;

            >.c-item-01 {
                width: 400px;
                margin-right: 24px;

                .c-item-01-A {
                    width: 100%;
                    height: 650px;
                    object-fit: cover;
                    margin-bottom: 24px;
                    border-radius: 20px;
                }

                .c-item-01-B {
                    display: flex;
                    justify-content: center;

                    img {
                        width: 100px;
                        height: 100px;
                        object-fit: cover;
                        border-radius: 14px;
                        cursor: pointer;
                        border: 1px solid #CCC;

                        &:not(:last-child) {
                            margin-right: 20px;
                        }

                        &.active{
                            border: 1px solid red;
                        }
                    }
                }

            }

            >.c-item-02 {
                flex: 1;

                >.c-item-02-A {
                    font-size: 56px;
                    margin-bottom: 24px;
                    font-weight: 700;

                }

                >.c-item-02-B {
                    font-size: 20px;
                    margin-bottom: 24px;

                }

                >.c-item-02-C {
                    font-size: 26px;
                    font-weight: 700;
                    margin-bottom: 24px;

                }
                >.c-item-02-D {
                    font-size: 18px;
                    font-weight: 400;

                }

            }

        }


    }
}