@import "../../Base/Global.scss";
@import "../../Base/Colour.scss";

/* Common  md, lg, xl, xxl desktop*/
@media all and (min-width: #{$mq-md + "px"}) {
    .header-01 {
        height: 76px;
        background: #FFF;

        .c-wrapper {
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .c-item-01 {
                .level-1 {
                    display: flex;

                    >li {

                        >a {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            padding: 12px;
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 20px;
                            color: #000000;
                            opacity: 0.5;
                            transition: opacity 0.25s;

                            &:hover {
                                opacity: 1;
                            }

                            svg {
                                margin-left: 6px;
                            }
                        }

                        .level-2 {
                            visibility: hidden;
                            opacity: 0;
                            background-color: #FFF;
                            box-shadow: 5px 10px 8px 10px #888888;
                            position: absolute;
                            z-index: 99;
                            padding: 20px;
                            width: 130px;
                            border-radius: 10px;

                            >li {

                                >a {
                                    padding: 12px;
                                    font-weight: 500;
                                    font-size: 16px;
                                    line-height: 20px;
                                    color: #000000;
                                    opacity: 0.5;
                                    transition: opacity 0.25s;

                                    &:hover {
                                        opacity: 1;
                                    }

                                }

                                &:not(:last-child) {
                                    margin-bottom: 10px;
                                }
                            }
                        }

                        &:not(:last-child) {
                            margin-right: 8px;
                        }

                        &:hover {
                            .level-2 {
                                visibility: visible;
                                opacity: 1;
                            }
                        }
                    }
                }
            }

            .c-item-02 {
                cursor: pointer;
                text-decoration: none;
                font-size: 25px;
                color: #000000;
                font-weight: 700;
                transition: all ease 0.5s;

                &:hover {
                    color: #f27a1a;
                    
                }
            }

            .hamburger-menu-icon {
                display: none;
            }
        }
    }
}
.basket-icon{
    cursor: pointer;
}

.css-whxibi-MuiBadge-badge {
    background-color: #f27a1a !important;
}

.x-btn {
    background: none;
    font-weight: 700;
    cursor: pointer;
    position: absolute;
    right: 2%;
    position: absolute;
    top: 0;
}